<div class="opfor-unit-card" style="background-image: url('{{system.cardImage}}');">
  <button type="button" class="opfor-unit-roll-btn" data-action="rollD20" title="Roll D20">
    <i class="fas fa-dice-d20"></i>
  </button>
</div>
